/* Style général */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;    
}

* {
    margin: 15px;
}



section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Pour une gestion stricte des dimensions */
    overflow: hidden; /* Empêche tout débordement */
}

.section1 {
    display: flex;
    flex-direction: row;
    padding-top: 100px; /* Ajoute un padding de 50px en haut de la page */
}

.left-image {
    margin-left: -15px;
}

.bottom-content {
    margin-right: -195px;
    width: 100%;
}

/* Conteneur des titres */
.top-content {
    position: absolute; /* Toujours utilisé pour positionner les titres sur l'image */
    top: 60px; /* Ajuste selon la position souhaitée */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Centrer exactement */
    z-index: 10; /* Assure que le titre soit au-dessus de l'image */
    text-align: center;
    display: flex;
    flex-direction: column; /* Empile les titres verticalement */
    align-items: center; /* Centrer les titres horizontalement */
    padding-top: 100px; /* Ajoute un padding de 50px en haut de la page */
}

/* Styles des titres */
.top-content h3, .top-content h1, .top-content h4 {
    margin: 0;
    color: rgb(0, 0, 0); /* Couleur des titres */
}

.top-content h3 {
    font-size: 56px; /* Taille du h3 */
    margin-left: 70px;
}

.top-content h1 {
    font-size: 144px; /* Taille du h1 */
    margin-top: -50px; /* Espacement entre h3 et h1 */
    margin-left: 500px;
}

.top-content h4 {
    font-size: 40px; /* Taille du h4 */
    margin-top: -25px; /* Espacement entre h1 et h4 */
    margin-left: 370px;
}

.bottom-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Empêche l'image de déborder */
    min-height: 100%; /* Garantit que le conteneur prend toute la hauteur disponible */
    padding-top: 10px;
}


/*Section 2 */

.section2 {
    display: flex;
}

.image-gauche {
    flex: 1;
    overflow: hidden; /* Empêche tout débordement horizontal ou vertical */
    margin: 0;
    padding: 0;
    margin-left: -15px;

}

.texte-droit {
    position: absolute; /* Toujours utilisé pour positionner les titres sur l'image */
    width: 30%;
    line-height: 1.6;
    padding-top: 1000px;
    padding-left: 700px;
}

.section3 {
    padding-top: 600px;
    padding-top: 800px;*
    width: 100%;
    height: auto;
}

.section3bis {
    padding-top: 500px;
}

.section4 {
    padding-top: 100px;
    width: 100%;
    height: auto;
}
.section5 {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: auto;

}

.imagesection5 {
    width: 100%;
    justify-content: end;
    display: flex;
    color: red;
    rotate: 90%;
}

.section6 {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 50% 50%;

}

.imagesection6 img{
    width: 1500px;
    align-items: center;
}

.image-gauche2 {
    flex: 1;
    margin: 0;
    padding: 0;
    position: absolute; /* Toujours utilisé pour positionner les titres sur l'image */
    padding-right: 875px;
    margin-left: -15px;
}

.Carrousel1 {
    flex: 1;
    width: 100%;
    height: auto;
}


.buttonv1 {
    background-color: #fcc52b;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-family: "Bebas Neue Pro Bold";
    transition-duration: 0.4s;
}

.buttonv1 {
    text-align: center; /* Center-align content */
    display: block;
    margin: auto;
  }

.buttonv1:hover {
    background-color: #fcc52b;
    color: white;
}

/* Hover effect button */

.buttonv1:active {
    background-color: #fcc52b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonv2 {
    background-color: #fcc52b;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-family: "Bebas Neue Pro Bold";
    transition-duration: 0.4s;
}

.buttonv2 {
    text-align: center; /* Center-align content */
    display: block;
    margin: auto;
  }


.buttonv2:hover {
    background-color: #fcc52b;
    color: white;
}

/* Hover effect button */

.buttonv2:active {
    background-color: #fcc52b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonv3 {
    background-color: #fcc52b;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-family: "Bebas Neue Pro Bold";
    transition-duration: 0.4s;
}

.buttonv3 {
    text-align: center; /* Center-align content */
    display: block;
    margin: auto;
  }


.buttonv3:hover {
    background-color: #fcc52b;
    color: white;
}

/* Hover effect button */

.buttonv3:active {
    background-color: #fcc52b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonv4 {
    background-color: #fcc52b;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-family: "Bebas Neue Pro Bold";
    transition-duration: 0.4s;
}

.buttonv4:hover {
    background-color: #fcc52b;
    color: white;
}

/* Hover effect button */

.buttonv4:active {
    background-color: #fcc52b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonv5 {
    background-color: #fcc52b;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-family: "Bebas Neue Pro Bold";
    transition-duration: 0.4s;
}

.buttonv5:hover {
    background-color: #fcc52b;
    color: white;
}

/* Hover effect button */

.buttonv5:active {
    background-color: #fcc52b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.imgcase1 {
    max-width: 300px;
    max-height: 300px;
}

.imgcase2 {
    max-width: 300px;
    max-height: 300px;
}

.imgcase3 {
    max-width: 300px;
    max-height: 300px;
}


